page {
    background: rgba(245, 246, 250, 1);
}

.substrate {
    width: 100%;
    height: 364rpx;
    background: linear-gradient(135deg, rgba(111, 143, 234, 1) 0%, rgba(71, 74, 217, 1) 100%);
    border-radius: 0px 0px 0px 128rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title_wrap {
        margin-top: 30rpx;

        text {
            width: 82rpx;
            height: 24px;
            font-size: 17px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 24px;
            letter-spacing: 14rpx;
        }
    }

    .search_wrap {
        display: flex;
        margin-top: 30rpx;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        .search_input {
            width: 90%;
        }
        .icon_wrap{
            align-items: center;
        }
    }
}